#tree-pane {
    width: 30%;
    border: solid $primary;
}

#detail-container {
    width: 70%;
}

#detail-pane {
    height: 1fr;
    border: solid $secondary;
}

#class-pane {
    height: 1fr;
    border: solid yellow;
    display: none;
}

#path-bar {
    dock: bottom;
    background: $accent;
}

#search-bar {
    dock: bottom;
    display: none;
}
